@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .hide-in-safari {
      display: none !important;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .hide-in-safari-1 {
    /* Safari-only styles go here */
    display: none !important;
  }
}

@theme inline {
  --font-instrument: var(--font-instrument-serif);
  --font-schibsted: var(--font-schibsted-sans);

  --color-light: #FAFAFA;
  --color-dark: #4A1A51;

  --animate-marquee: marquee 5s linear infinite;
  @keyframes marquee {
    0% {
      transform: translate3d(var(--move-initial), 0, 0)
    }
    100% {
      transform: translate3d(var(--move-final), 0, 0)
    }
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  background-color: #FAFAFA;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;

  > input:focus-visible {
    outline: 0px !important;
  }
}

:root {
  --base-scale3d: scale3d(1, 1, 1);
  --base-translate3d: translate3d(0, 0, 0);

  --primary-curve: cubic-bezier(0.62, 0.05, 0.01, 0.99);  

  --color-guides: oklch(0.552 0.016 285.938 / 0.10);
  --color-border: oklch(0.552 0.016 285.938 / 0.10);

  --color-text-secondary: oklch(0.552 0.016 285.938);
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .hide-in-safari {
      display: none !important;
    }
  }
}
