
@mixin fullAbsolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  @mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }


  // @import "../../../styles/abstracts";

.bigText {
    position: relative;
    // font-size: var(--title-1);
    // line-height:1.2;
    // text-transform: uppercase;
  }
  
  .srText {
    @include srOnly;
  }
  
  .animatedChars {
    @include fullAbsolute;
    display: inline-block;
    clip-path: inset(0 0 0.12em);
    z-index: 10;
  
    & > span {
      position: absolute;
      display: inline-flex;
    //   align-items: center;
      animation: chars-in 1.25s var(--primary-curve) forwards;
      will-change: transform;
      transform: translate3d(0, 80%, 0);
    }
  }
  
  @keyframes chars-in {
    to {
      transform: var(--base-translate3d);
    }
  }
  
  .passive {
    opacity: 0;
  }
  